<app-handtracker (onPrediction)="prediction($event)"></app-handtracker>

<div [innerHTML]="gesture"></div>




<div class="game-area game-image">
    <img [src]="currentImage" *ngIf="started" alt="game gestures">
</div>

<div *ngIf="gameOver" class="game-area">
    <h1>Game Over!</h1>
</div>

<div class="game-area">

    <button type="button" (click)="startGame()" *ngIf="!started; else stopBlock">Start game</button>

    <ng-template #stopBlock>
        <button type="button" (click)="stopGame()">Stop game</button>
    </ng-template>
</div>

<app-score [level]="level" [score]="score" [lives]="lives"></app-score>