/* You can add global styles to this file, and also import other style files */
body{
    /*Light text color*/
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Press Start 2P', cursive;
}


body button{
    /*Light text color*/
    color: #fff;
    background-color: #2bff00a4;
    border: 1px solid #ffffff;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0.5rem 1rem;
    font-family: 'Press Start 2P', cursive;
}